# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Arquivos e pastas de configuração de IDEs (JetBrains / CLion)
# Ignora a pasta .idea/ inteira
.idea/

# Pastas de build do CMake
# O * é um "curinga", então ignora cmake-build-debug, cmake-build-release, etc.
cmake-build-*/

# Arquivos de log e temporários do CLion
*.clion.*

# Arquivos de compilação e executáveis comuns do C/C++
*.o
*.a
*.so
*.dll
*.exe
*.out
